@import "../common//Common.scss";

.Dice {
  @extend %flexCenter;
  @extend %fontHighLight;
  @extend %fontBold;
  background-color: $white;
  box-shadow: 0px 2px 2px rgba($black, 0.15);
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.locked {
  background-color: $green;
}
