@import './common/Common.scss';

.App {
  @extend %fontMain;
  @extend %flexResponsive;
  background-color: $light;
  color: $dark;
  min-width: 250px;
  min-height: 250px;
  border-radius: 12px;
  margin: 60px 30px;

  & > div {
    flex: 1 1 350px
  }
}

.description {
  margin: 30px 20px 80px 20px;
  align-self: center;
}

.game_play {
  min-width: 250px;
  min-height: 250px;
  border-radius: 12px;
}