// Center Padding
%flexCenter {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

// Responsive Padding
%flexResponsive {
  display: flex;
  flex-wrap: wrap;
}